* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #284482;
  padding: 10px 0px;
}

.logo {
  height: 64px;
  width: 64px;
}

.nav-bar > a {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-left: 16px;
}

main {
  flex-grow: 1;
}

#main-heading {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0px;
  color: #284482;
}

#search-section {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0px;
}

.search-input {
  border: 1px solid #284482;
  padding: 15px 0px;
  border-radius: 50px;
}
input[type="text"] {
  text-align: center;
  color: #284482;
  font-weight: bold;
}

#search-btn {
  text-decoration: none;
  border: 3px solid #284482;
  padding: 10px 15px;
  font-size: 12px;
  background: #284482;
  color: #fff;
  border-radius: 50px;
}

#search-results {
  text-align: center;
  padding: 32px 0px;
  font-weight: 700;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #284482;
  padding: 10px 0px 10px 0px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}

header,
main,
footer {
  flex-shrink: 0;
}

#card {
  display: inline-block;
  width: 50%;
  padding: 10px 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.location {
  color: #284482;
}

.area-code {
  color: #8b9bbc;
}

#card-body {
  color: #284482;
  padding-bottom: 10px;
}

#card-body h3 {
  text-align: center;
  padding: 8px 0px;
}

#card-header {
  border-bottom: 1px solid #8b9bbc;
}

#card-footer {
  border-top: 1px solid #8b9bbc;
  padding: 8px 0px;
  color: #284482;
}

.table-heading {
  font-style: underline;
}
