<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href=" {% static 'style.css' %}" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
    <title>Load Shedding Schedule</title>
  </head>
  <body>
    <article>
      <header>
        <nav class="nav-bar">
          <img src="{% static 'zetdc-logo.png' %} " class="logo" />
          <a href="#">ZESA Load Shedding Schedule</a>
        </nav>
      </header>
      <main>
        <div id="main-heading">
          Find out what time you have power
        </div>
        <div id="search-section">
          <form action="{%url 'timetable:search'%}">
            <input
              type="text"
              placeholder="Enter Location"
              class="search-input"
              name="location"
            />
            <button id="search-btn" type='submit'><i class="fas fa-search"></i> Search</button>
          </form>
        </div>

        <div id = "search-results">
                <div id="card">
                    <div id="card-header">
                        <h1 class="location">Area Name</h1>
                       
                    </div>
                    <div id="card-body">
                        <h3>Power Schedule</h3>
                        <table style="width:90%">
                            <tr>
                                <th>Day</th>
                                <th>Peak</th>
                            </tr>
                            <tr>
                                <td>Mon-Fri</td>
                                <td>AM/PM</td>
                            </tr>
        
                        </table>
                    </div>
                    <div id="card-footer">
                        <h6>Key</h6>
                        <h6>AM: No Electricity Between 6:00am and 1:00pm</h6>
                        <h6>PM: No Electricity Between 1:00pm and 8:00pm</h6>
                    </div>
                </div>
            </div>
        </main>
    </main>
    <footer class="footer-section">
      &copy 2019 Gisul Solutions - ZETDC Training
    </footer>
  </article>
</body>
</html>